<div class="background-color5 ">
  <div class="color4 fs-large align-center">
    {{model.company}}
  </div>
  <ul class="inline-list align-center">
    {{#each model.technologies as |tech|}}
    <li class="color4">{{tech}}</li>
    {{/each}}
  </ul>
</div>
