<<<<<<< 689372ace6a5bbd097d333c8a49069e7d6eb5f07
.navbar {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  &.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
=======
.navbar{
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  &.navbar-default{
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
>>>>>>> adds home page
    background-color: $color3;

    & .navbar-brand {
      background-color: $color2;
      font-weight: 700;

      &:hover {
        background-color: $color4;
      }
    }

    & .navbar-nav {
      & > li {
        &.active {
          & > a {
            background-color: $color1;
          }
        }

        & > a {
          color: $color2;
          font-weight: 700;

          &:hover {
            color: $color4;
          }

          &.btn {
            &:hover {
              color: inherit;
              background-color: inherit;
            }
          }
        }
      }

      &.navbar-social {
        & > li {
          & > a {
            &:hover {
              color: #fff;
            }

            & .fa {
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}

<<<<<<< 689372ace6a5bbd097d333c8a49069e7d6eb5f07
$headerHeight : 50px;

.header-offset {
  margin-top: $headerHeight;
=======
.header-offset{
  margin-top: 50px;
>>>>>>> adds home page
}
