.navbar{
  &.navbar-default{
    background-color: $color3;
    & .navbar-brand{
      background-color: $color2;
      font-weight: 700;
    }
    & .navbar-nav{
      & > li{
        & > a{
          color: $color2;
          font-weight: 700;
          &.btn{
            &.btn-facebook{
              &:hover{
                background-color: initial;
                color: initial;
              }
            }
            &:hover{
              color: inherit;
              background-color:  inherit;
            }
          }
        }
      }
    }
  }
}
