<<<<<<< 689372ace6a5bbd097d333c8a49069e7d6eb5f07
.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.full-height {
  height: calc(100vh - #{$headerHeight});
}
=======
.section-padding{
  padding-top: 50px;
  padding-bottom: 50px;
}
>>>>>>> adds home page
