<<<<<<< 689372ace6a5bbd097d333c8a49069e7d6eb5f07
p {
=======
p{
>>>>>>> adds home page
  text-indent: 100px;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}
<<<<<<< 689372ace6a5bbd097d333c8a49069e7d6eb5f07

$fontSizes : "extra-small" 10px, "small" 13px, "normal" 17px, "large" 21px, "extra-large" 25px;

@each $fontSize in $fontSizes {
  $sizeName : nth($fontSize, 1);
  $sizeValue : nth($fontSize, 2);

  .fs-#{$sizeName} {
    font-size: #{$sizeValue};
  }
}
=======
>>>>>>> adds home page
