<<<<<<< 689372ace6a5bbd097d333c8a49069e7d6eb5f07
<div class="container-fluid header-offset background-color1 section-padding full-height">
  <div class="col-sm-12 vertical-center">
    <p class="color4 fs-large">
      Guilherme Tassinari is a web developer with experience in both backend and frontend. Young and curious, he looks forward for new opportunies to improve his skills,
      learn new things and make some incredible stuff!
    </p>
    <p class="color4 fs-large">
      His journey as a web developer started in 2014 when he applied for a internship as teacher's assistant at Colégio de Aplicação da UFRGS
      to earn some money and ended up doing the college's website maintenance.
    </p>
    <p class="color4 fs-large">
      Introduced to the world of HTML and CSS, Guilherme ended up apllying for another internship, this time as a Java web developer
      at CIEE-RS and, 8 months later, he was being hired by Me Salva!.
    </p>
    <p class="color4 fs-large">
      Working for more than 3 years as a web developer, Guilherme loves good, tested and elegant code. He is undegraduating on
      Computer Engineering at UFRGS, one of the best universities in Brazil.
    </p>
    <p class="color4 fs-large">
=======
<div class="container-fluid header-offset background-color1 section-padding">
  <div class="col-sm-12 ">
    <p>
      Guilherme Tassinari is a web developer with experience in both backend and frontend. Young and curious, he looks forward for new opportunies to improve his skills,
      learn new things and make some incredible stuff!
    </p>
    <p>
      His journey as a web developer started in 2014 when he applied for a internship as teacher's assistant at Colégio de Aplicação da UFRGS
      to earn some money and ended up doing the college's website maintenance.
    </p>
    <p>
      Introduced to the world of HTML and CSS, Guilherme ended up apllying for another internship, this time as a Java web developer
      at CIEE-RS and, 8 months later, he was being hired by Me Salva!.
    </p>
    <p>
      Working for more than 3 years as a web developer, Guilherme loves good, tested and elegant code. He is undegraduating on
      Computer Engineering at UFRGS, one of the best universities in Brazil.
    </p>
    <p>
>>>>>>> adds home page
      Guilherme Tassinari was born in April 12th 1995.
      When he was a kid he always loved to play videogames and hit the buttons of the keyboard.
      As a teenager he took interest on video edition and even received some awards at school for video
      competitions. One day he had to change his old 1Ghz CPU 2Gb Memory PC for a new one so that he could
      play his
    </p>
  </div>
</div>
